CONFIG_LOCALVERSION=""
CONFIG_LOCALVERSION_AUTO=y
CONFIG_AUDIT=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_BOOT_CONFIG=y
CONFIG_ARM64_SW_TTBR0_PAN=y
CONFIG_SHADOW_CALL_STACK=y
# CONFIG_MODULE_COMPRESS_XZ is not set
CONFIG_GKI_HIDDEN_GPU_CONFIGS=y
CONFIG_USERFAULTFD=y
CONFIG_BLK_INLINE_ENCRYPTION=y
CONFIG_BLK_INLINE_ENCRYPTION_FALLBACK=y
CONFIG_INET_DIAG=y
CONFIG_NET_ACT_MIRRED=y
CONFIG_VSOCKETS=y
CONFIG_BLK_DEV_DM=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_VHOST_VSOCK=y
CONFIG_INCREMENTAL_FS=y
CONFIG_EROFS_FS=y
CONFIG_EROFS_FS_PCPU_KTHREAD=y
CONFIG_EROFS_FS_PCPU_KTHREAD_HIPRI=y
CONFIG_UNICODE=y
# CONFIG_SECURITY_APPARMOR is not set
CONFIG_LSM="selinux"
CONFIG_CRYPTO_ADIANTUM=y
CONFIG_KFENCE=y
CONFIG_KFENCE_SAMPLE_INTERVAL=500
CONFIG_KFENCE_NUM_OBJECTS=63
CONFIG_KFENCE_STATIC_KEYS=y
