CONFIG_SYS_MALLOC_LEN=0x8000000
CONFIG_BOOTDELAY=3
CONFIG_AUTOBOOT_KEYED=y
CONFIG_AUTOBOOT_MENU_SHOW=y
CONFIG_BOOTARGS_SUBST=y
CONFIG_DISPLAY_BOARDINFO_LATE=y
CONFIG_ANDROID_AB=y
CONFIG_ANDROID_AB_BACKUP_OFFSET=0x1000
CONFIG_CMD_BOOTMENU=y
CONFIG_CMD_ADTIMG=y
CONFIG_CMD_ABOOTIMG=y
CONFIG_CMD_ASKENV=y
CONFIG_CMD_BCB=y
CONFIG_CMD_GPT=y
CONFIG_CMD_AB_SELECT=y
CONFIG_EFI_PARTITION_PRESERVE_PROTECTIVE_MBR=y
CONFIG_VERSION_VARIABLE=y
CONFIG_USB_FUNCTION_FASTBOOT=y
CONFIG_FASTBOOT_BUF_ADDR=0x1000000
CONFIG_FASTBOOT_FLASH=y
CONFIG_FASTBOOT_FLASH_MMC_DEV=0
CONFIG_NULLDEV_SERIAL=y
CONFIG_USB_KEYBOARD_FN_KEYS=y
CONFIG_USB_GADGET_VENDOR_NUM=0x18d1
CONFIG_USB_GADGET_PRODUCT_NUM=0x4ee0
CONFIG_VIDEO_ANSI=y
# CONFIG_EFI_LOADER is not set
